*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}


/* This is the code for navbar of our website */

header{
    /* background-color: yellowgreen; */
}

nav{
    /* background-color: aquamarine; */
    height: 60px;
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-buttons{
    display: flex;
    gap: 20px;
}

.nav-buttons button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

/* From here we are going to start code for hero section */

.hero{
    /* background-color: violet; */
    
    min-height: calc(100vh - 60px);

    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.left,.right{
    width: 50%;
    height: 500px;
}



.left{
    
    padding: 80px 60px;
}

.left h1{
    line-height: 50px;
    font-size: 60px;
    padding: 20px 0;
}

.left p{
    padding: 20px 0;
    font-size: larger;
    width: 500px;
}

.left button{
    width: fit-content;
    background-color: #E85F19;
}

.right{

}
.right img{
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}

/* From here we are going to start services section */

.services{
    height: 100vh;
    /* background-color: aquamarine; */
    padding: 20px 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.service-wrapper{
    display: flex;
    flex-direction: column;
    /* background-color: yellowgreen; */
    justify-content: center;
    align-items: center;

    gap: 20px;
}
.service-wrapper h2{
    font-size: 40px;
}

.service-wrapper h2 span{
    color: #E85F19;
}

.service-wrapper p{
    max-width: 450px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.79);
}


.service-boxes{
    height: 300px;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 20px 40px;
}

.service-boxes .box{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    
    gap: 5px;
    position: relative;
    overflow: hidden;
}


.service-boxes .box span{
    height: 70px;
    width: 70px;
    background-color: #E85F19;

    position: absolute;
    top: -5px;
    left: -5px;

    border-end-end-radius: 30px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;


    display: flex;
    align-items: center;
    justify-content: center;



    /* display: inline-block; */
}

.service-boxes .box span i{
    font-size: larger;
    
}

.service-boxes .box h3{
    text-align: left;
    margin-top: 40px;
}
.service-boxes .box p{
    text-align: left;
}

.service-boxes .box a{
    text-decoration: none;
    color: #E85F19;
}